.bar {
  width: 100vw !important;
  background: #034472;
  color: white;
  display: flex;
  justify-content: space-between !important;
  align-items: center;
  padding: 1rem;
}

.logo {
  width: 10%;
  /* margin-left: 2rem; */
  margin-right: 4.5rem;
  margin-bottom: 0.2rem;
  /* transform: translate(0, -0.2rem); */
}

.logo img {
  width: 100px;
  margin-left: 2rem;
}

.header_title {
  width: 80%;
  font-size: 1.4rem;
  margin-top: 0.25rem;
  margin-bottom: 0;
  margin-left: 6rem;
}
