.buttons {
    display: flex;
 
}

.buttons button{
    height: 3.1rem;
    margin-right: 1rem;
    font-size: 1rem !important;
}

.row {
    display: flex;
    align-items: center;
    margin-left: 20px;
    margin-right: 10px !important;
}

.row input {
    margin: 0 !important;
    margin-right: 1rem !important;
    width: 25% !important;
}

.container {
    justify-content: unset;
}